<nav class="px-8 py-4 bg-indigo-600 text-white shadow-md">

  <!-- Row 1 -->
  <div class="flex justify-between items-center mb-2">
    <h1 class="text-2xl font-bold">The Daily Blog</h1>

    <div class="space-x-4">

      <% if user_signed_in? %>
        <%= link_to "View Posts", blog_posts_path, class: "hover:text-blue-200 font-medium transition" %>
        <%= link_to "Add Post", new_blog_post_path, class: "hover:text-blue-200 font-medium transition" %>
        <%= button_to "Log out",
          destroy_user_session_path,
          method: :delete,
          form_class: "inline",
          class: "hover:text-blue-200 font-medium transition bg-transparent border-0 p-0 cursor-pointer" %>
      <% else %>
        <%= link_to "Home", root_path, class: "hover:text-blue-200 font-medium transition" %>
        <%= link_to "Log In", new_user_session_path, class: "hover:text-blue-200 font-medium transition" %>
        <%= link_to "Register", new_user_registration_path, class: "hover:text-blue-200 font-medium transition" %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <!-- Row 2 -->
    <div class="flex justify-end space-x-4 mt-2">
      <%= link_to "My Posts", blog_posts_path(mine: 1), class: "hover:text-blue-200 font-medium transition" %>

      <%= link_to "#{current_user.username} 👤",
                  edit_user_registration_path,
                  class: "hover:text-blue-200 font-medium transition" %>
      
    </div>
  <% end %>

</nav>
